<h1>Create a Team</h1>

 <%= form_for @team, :url => { :action => "create" } do |f| %>
    Team Name: <%= f.text_field :name %><br /><br />
    Team Goal: <%= f.text_field :goal %><br /><br />
    <%= f.submit "Create Team" %>
<% end %> 

<%
=begin%>
  consider abstracting form into a partial 
<%
=end%>
