<h1><%= @team.name %></h1>

<h2>Team Goal: <%= @team.goal %></h2>

<h3>Your Lists</h3>

<ul>
<% @team.lists.each do |list| %>
  <li><%= list.title %></li>
<% end %>
</ul>

<%= link_to "Create a List", new_team_list_path(@team) %>

